<div class="parallax" *ngIf="!isForward">
	<div class="links">
		<button mat-icon-button (click)="onDonateClicked()">
			<mat-icon>favorite</mat-icon>
		</button>
		<button mat-icon-button (click)="onTwitterClicked()">
			<mat-icon svgIcon="twitter"></mat-icon>
		</button>
		<button mat-icon-button (click)="onFacebookClicked()">
			<mat-icon svgIcon="facebook"></mat-icon>
		</button>
		<button mat-icon-button (click)="onGithubClicked()">
			<mat-icon svgIcon="github"></mat-icon>
		</button>
	</div>
	<div class="landing">
		<div>
			<div class="logo">
				<object type="image/svg+xml" data="assets/logos/elevate_logo.svg"></object>
			</div>
			<div class="tagline">
				Elevate your <img src="assets/logos/strava_logo.svg"> experience and goals!
			</div>
			<div class="downloadButton">
				<button mat-stroked-button (click)="onGoToDownloadClicked()">Download Extension</button>
			</div>
		</div>
	</div>
	<div class="next" (click)="onNextClicked()">
		<button mat-icon-button (click)="onNextClicked()">
			<mat-icon>keyboard_arrow_down</mat-icon>
		</button>
	</div>
	<div class="slide" #fitnessTrend>
		<div class="slide-title">
			Fitness Trend
		</div>
		<div class="slide-content-wrapper">
			<div class="slide-content">
				<div>
					Train yourself properly by tracking your fitness, fatigue & form over time. Avoid training overload
					or injuries and get ready for your D-Days and races!
				</div>
				<div>
					<ul>
						<li>Supports all sports. Ready for triathletes with swim support.</li>
						<li>Works without sensors: case you're smartphone user.</li>
						<li>Supports dated athlete settings. Namely the evolution of your physiological attributes over
							time (heart
							rate, weight, power, ...).
						</li>
					</ul>
				</div>
			</div>
			<div class="slide-snap">
				<img src="assets/snaps/fitness.png">
			</div>
		</div>
	</div>
	<div class="slide">
		<div class="slide-title">
			Year Progressions
		</div>
		<div class="slide-content-wrapper">
			<div class="slide-content">
				<div>
					Track your progress over the year and compare with previous years.
				</div>
				<div>
					<ul>
						<li>Filter by type of activities and years.</li>
						<li>Filter commutes and indoor training.</li>
						<li>Progressions' types:
							<ul>
								<li>Distance.</li>
								<li>Time.</li>
								<li>Elevation gain.</li>
								<li>Activity count.</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="slide-snap">
				<img src="assets/snaps/progress.png">
			</div>
		</div>
	</div>
	<div class="slide-matrix">
		<div class="slide-title">
			More stats on activities & segments
		</div>
		<div class="slide-matrix-content">
			<div>
				<img src="assets/snaps/stats_01.jpg">
			</div>
			<div>
				<img src="assets/snaps/stats_02.jpg">
			</div>
			<div>
				<img src="assets/snaps/stats_03.jpg">
			</div>
			<div>
				<img src="assets/snaps/stats_04.jpg">
			</div>
		</div>
	</div>
	<div class="slide-half">
		<div class="slide-title">
			Also included
		</div>
		<div class="slide-content-wrapper">
			<div class="slide-content">
				<div>
					<ul>
						<li>Export segments to your GPS (as Virtual Partner).</li>
						<!--<li>Google Maps support (inc. Street View support).</li>-->
						<li>Best splits on activities.</li>
						<li><a href="https://www.relive.cc/" target="_blank">Relive.cc</a> integration.</li>
						<li>Enhanced view of segments ranking & time diff.</li>
						<li>Weather data for cycling.</li>
						<li>Nearby segments.</li>
						<li>And more...</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="slide-half" #donate>
		<div class="slide-title">
			Donate
		</div>
		<div class="slide-content-wrapper">
			<div class="slide-content donate">
				<div class="donate-message">
					Push this project higher! Make a donation :)
				</div>
				<div>
					<mat-form-field>
						<input matInput
							   #donateAmount
							   value="{{DEFAULT_DONATION_AMOUNT}}"
							   type="number"
							   placeholder="Amount"
							   min="0"/>
					</mat-form-field>
				</div>
				<div>
					<mat-form-field>
						<mat-select #donateCurrency value="{{DEFAULT_DONATION_CURRENCY}}"
									placeholder="Currency">
							<mat-option
								*ngFor="let cur of CURRENCIES;"
								[value]="cur">
								{{cur}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="paypal"
						  target="_blank">
						<input type="hidden" name="business" value="th.champagne@gmail.com">
						<input type="hidden" name="cmd" value="_donations">
						<input type="hidden" name="item_name" value="Elevate for Strava Donation">
						<input type="hidden" name="item_number" value="ext_page_donation">
						<input type="hidden" name="amount" value="{{donateAmount.value}}">
						<input type="hidden" name="on0" value="platform:{{platform}}">
						<input type="hidden" name="currency_code" value="{{donateCurrency.value}}">
						<button mat-stroked-button color="accent" type="submit" value="Submit" form="paypal">
							Donate
						</button>
					</form>
				</div>
				<div class="donate-note">
					<i>(No paypal account required)</i>
				</div>
			</div>
		</div>
	</div>
	<div class="slide-half" #download>
		<div class="slide-title">
			Download
		</div>
		<div class="slide-content-wrapper">
			<div class="slide-content download">
				<div>
					<button mat-stroked-button color="primary" (click)="onChromeDownloadClicked()">
						Download for Chrome&nbsp;&nbsp;&nbsp;<mat-icon svgIcon="chrome"></mat-icon>
					</button>
				</div>
				<div>
					<button mat-stroked-button color="primary" (click)="onOperaDownloadClicked()">
						Download for Opera&nbsp;&nbsp;&nbsp;<mat-icon svgIcon="opera"></mat-icon>
					</button>
				</div>
				<div class="operaInstall" *ngIf="showOperaInstallSteps" #operaInstall>
					To install the <i>"Elevate for Strava"</i> extension into your Opera browser, please follow below
					steps:
					<ul>
						<li>First install the official <i>"Chrome Extension Installer for Opera"</i> by Opera <a
							href="https://addons.opera.com/en/extensions/details/install-chrome-extensions/"
							target="_blank">here</a>.
						</li>
						<li>Then go to <i>"Elevate for Strava"</i> chrome store link <a
							href="https://chrome.google.com/webstore/detail/elevate-for-strava/dhiaggccakkgdfcadnklkbljcgicpckn"
							target="_blank">here</a>, then click <i>"Add to Opera"</i>.
						</li>
						<li>You will be prompted to go to <i>Opera Extension Manager</i> to validate the extension
							installation. Click "Ok" to proceed.
						</li>
						<li>Next confirm the installation of <i>"Elevate for Strava"</i> in the <i>Opera Extension
							Manager</i>.
						</li>
						<li>You're done. <i>"Elevate for Strava"</i> is now installed into your Opera browser and you
							will receive extension updates.
						</li>
					</ul>
					Note: You can remove the <i>"Chrome Extension Installer"</i> extension if you want.
				</div>
				<div>
					<button mat-stroked-button color="primary" (click)="onFirefoxDownloadClicked()">
						Download for Firefox&nbsp;&nbsp;&nbsp;<mat-icon svgIcon="firefox"></mat-icon>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-template #firefoxNoteDialog>
	<div class="firefoxNoteDialog">
		<mat-dialog-content>
			Firefox version is coming soon... Extension is currently experimental on this browser and needs to be
			stabilized before any official release. <a href="javascript:void(0);" (click)="onTwitterClicked()">Stay
			tuned</a>.
		</mat-dialog-content>
		<mat-dialog-actions align="end">
			<button mat-button matDialogClose color="primary">Got it</button>
		</mat-dialog-actions>
	</div>
</ng-template>
