.forward {

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	height: 100%;

	button {
		margin-top: 20px;
	}

	@media screen and (orientation: landscape) {
		font-size: 6vh;
	}

	@media screen and (orientation: portrait) {
		font-size: 6vw;
	}

}
