<mat-card>
	<mat-card-title>{{audience.realTime.count.toLocaleString("fr-FR")}}</mat-card-title>
	<mat-card-content>
		Real time athletes.
	</mat-card-content>
</mat-card>
<mat-card>
	<mat-card-title>{{audience.since24h.count.toLocaleString("fr-FR")}}</mat-card-title>
	<mat-card-content>
		Last 24h athletes.
	</mat-card-content>
</mat-card>
<mat-card>
	<mat-card-title>{{audience.since48h.count.toLocaleString("fr-FR")}}</mat-card-title>
	<mat-card-content>
		Last 48h athletes.
	</mat-card-content>
</mat-card>
<mat-card>
	<mat-card-title>{{audience.since7Days.count.toLocaleString("fr-FR")}}</mat-card-title>
	<mat-card-content>
		Last 7 days athletes.
	</mat-card-content>
</mat-card>
<mat-card>
	<mat-card-title>{{audience.since30Days.count.toLocaleString("fr-FR")}}</mat-card-title>
	<mat-card-content>
		Last 30 days athletes.
	</mat-card-content>
</mat-card>

